@model IEnumerable<SportsCompetitionsMVC.ViewModels.SetRoleViewModel>

@{
    ViewBag.Title = "SetRole";
}

<h2>SetRole</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Role)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>

            <td>
                @foreach (var role in item.Role)
                {
                    <p>
                        @Html.DisplayFor(modelItem => role)
                    </p>
                   

                }
            </td>

            <td>
                <p><a class="btn btn-lg btn-info" href="@Url.Action("SetRole","Account", new { id = item.Id })" role="button">Ustaw Moderatora</a></p>
                <p><a class="btn btn-lg btn-primary" href="@Url.Action("DeleteRole","Account", new { id = item.Id })" role="button">Usuń Moderatora</a></p>
                @*@Html.ActionLink("Ustaw Moderatora", "SetRole", "Account", new { id = item.Id }) |
                @Html.ActionLink("Usuń Moderatora", "SetRole", "Account", new { id = item.Id }) |*@
                @*@Html.ActionLink("Usun", "SetRole", "Role", new { /* id=item.PrimaryKey */ })*@
            </td>
        </tr>
    }

</table>
