@using SportsCompetitions.Models;
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Manage Account";
}


<div id="forma">
    <div class="col-md-4 col-sm-6 col-xs-12">

    </div>
    <br />
    <div class="row">
        <div class="col-md-12">

            <p class="text-success">
                @ViewBag.StatusMessage
            @if (!User.IsInRole("Admin"))
            {
                <a href="@Url.Action("DisplayYourEvents", null, new { area = string.Empty, controller = "Competition" }, Request.Url.Scheme)"
                   class="btn btn-primary btn-lg">Pokaż swoje zawody &raquo;</a>
                <a href="@Url.Action("FindMatches", null, new { area = string.Empty, controller = "Dating" }, Request.Url.Scheme)"
                   class="btn btn-primary btn-lg">Pokaz swoje osiagniecia &raquo;</a>
            }
            @if (User.IsInRole("Moderator"))
            {
                <a href="@Url.Action("Create", null, new { area = string.Empty, controller = "Competition" }, Request.Url.Scheme)"
                   class="btn btn-primary btn-lg">Stwórz wydarzenie &raquo;</a>

                <a href="@Url.Action("SetResults", null, new { area = string.Empty, controller = "Competition" }, Request.Url.Scheme)"
                   class="btn btn-primary btn-lg">Stwórz wyniki &raquo;</a>



            }
            @if (User.IsInRole("Admin"))
            {
                <a href="@Url.Action("SetRole", null, new { area = string.Empty, controller = "Role" }, Request.Url.Scheme)"
                   class="btn btn-primary btn-lg" id="mode">Zarzadzaj moderatorami &raquo;</a>
            }

    </div>
</div>

<div class="row">
    <div class="col-md-12">
        @if (ViewBag.HasLocalPassword)
        {
            @Html.Partial("_ChangePasswordPartial")
        }
        else
        {
            @Html.Partial("_SetPasswordPartial")
        }

        @*<section id="externalLogins">
                @Html.Action("RemoveAccountList")
                @Html.Partial("_ExternalLoginsListPartial", new { Action = "LinkLogin", ReturnUrl = ViewBag.ReturnUrl })
            </section>*@
    </div>
</div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}